.alert {
  display: flex;
  padding: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
  background-color: $main-color;
  color: $white;
  margin-bottom: $spacer;
  border-radius: 20px;
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);

  @include media-breakpoint-down(sm) {
    font-size: 0.75rem;
  }

  &.small {
    padding: $spacer / 2;
    font-size: 1rem;
  }

  .close {
    font-weight: 300;
    opacity: 1;
  }

  .alert-icon {
    display: inline-flex;
    align-items: flex-start;
    margin-right: $spacer;
    margin-bottom: $spacer;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }
  }

  .alert-content {
    flex: 1 1 auto;
  }

  .alert-title {
    margin-bottom: $spacer / 2;
  }

  .alert-msg {
    p + p {
      margin-bottom: $spacer;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .progress-bar {
    background-color: $purple;
  }

  a {
    color: $white;
    font-weight: 500;
  }
}
