legend,
label {
  color: rgba($main-color, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285;
}

dt {
  font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
  font-weight: 400;
  color: rgba($main-color, 0.7);
}

dd {
  margin: 0;
  font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
}

dl {
  margin: 0;
}

h1,
.h1 {
  margin-bottom: 0;
  font-size: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  font-weight: 500;
  line-height: 1.238;

  @include media-breakpoint-only(xs) {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
}

h2,
.h2 {
  font-size: clamp(1rem, -0.024rem + 1.27vw, 1.5rem);
  font-weight: 500;
  line-height: 1.3333;
}

h3,
.h3 {
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  font-weight: 500;
  line-height: 1.2857;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
}

h6,
.h6 {
  font-size: clamp(0.625rem, 0.1131rem + 0.6349vw, 0.875rem);
  font-weight: 400;
  line-height: 1.2857;
}

.text-muted {
  font-size: clamp(0.625rem, 0.1131rem + 0.6349vw, 0.875rem);
  font-weight: 400;
  color: rgba($main-color, 0.7) !important;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

.section-container {
  padding: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  border: 1px solid $gray-border;
  border-radius: 20px;
}

.text-divider {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    right: 15%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $gray-border;

    @include media-breakpoint-down(lg) {
      right: 5%;
    }
  }

  @include media-breakpoint-up(xl) {
    padding-right: 60px;
  }
}

.text-status {
  margin-left: clamp(0.5rem, -0.0119rem + 0.6349vw, 0.75rem);
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: $gray-light;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba($main-color, 0.5);
}

svg {
  flex-shrink: 0;
}