// Make calendar visible over the table
.dropdown-menu {
  min-width: 100%;
  z-index: $zindex-dropdown + 1;
  padding: 0;
  background-color: $btn-background;
  font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
  border-radius: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
  max-height: 350px;
  overflow-y: auto;
}
.dropdown-item {
  padding: clamp(0.5rem, -0.0119rem + 0.6349vw, 0.75rem)
    clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);

  &:hover {
    background-color: $main-color;
    color: $white;
    border-radius: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
  }
}
.b-dropdown-form {
  padding: $spacer/2;
  .form-group {
    margin-bottom: 0;
  }
}
// Table filter dropdown clear button style
.table-filter {
  .dropdown-menu {
    padding: 0.9375rem 1.5625rem;
    background-color: $white;
    border-radius: 15px;
    border: none;
    max-height: 350px;
    overflow-y: scroll;

    .text-primary {
      color: $purple !important;
      font-size: clamp(0.75rem, 0.2381rem + 0.6349vw, 1rem);
      font-weight: 400px;
    }

    .col-form-label {
      font-size: clamp(0.625rem, -0.1429rem + 0.9524vw, 1rem);
    }

    .custom-control-inline {
      margin-right: 0;
      margin-bottom: clamp(0.625rem, -0.0159rem + 0.7949vw, 0.938rem);
    }
  }
  .dropdown-item {
    padding: 0 12px;
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }

    &:focus {
      outline: none;
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $purple;
    }
  }

  svg {
    @include media-breakpoint-down('xl') {
      width: 18px;
      height: 18px;
    }
    @include media-breakpoint-down(sm) {
      width: 12px;
      height: 12px;
    }
  }

  .btn {
    @include media-breakpoint-down(sm) {
      font-size: 10px;
    }
  }
}

.btn-table {
  @include media-breakpoint-down(sm) {
    font-size: 10px;
  }

  svg {
    @include media-breakpoint-down(sm) {
      width: 12px !important;
      height: 12px !important;
    }
  }
}
