// Helper text
.form-text {
  font-size: $form-label-font-size;
  line-height: $form-line-height;
  margin-top: $spacer * 0.3125;
  color: rgba($main-color, 0.7) !important;
}

// Legend label
.col-form-label {
  color: rgba($main-color, 0.7);
  font-size: $form-label-font-size;
  line-height: $form-line-height;
}

.form-group {
  margin-bottom: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
}

.custom-select,
.form-control,
.input-group-text {
  height: 100%;
  padding: clamp(0.625rem, -0.0159rem + 0.7949vw, 0.938rem)
    clamp(1rem, -0.1528rem + 1.4298vw, 1.563rem);
  background-color: $form-color;
  border-color: rgba($main-color, 0.2) !important;
  border-radius: 15px;

  // @include media-breakpoint-up('xl') {
  //   padding-top: 2.5rem;
  //   padding-bottom: .9rem;
  //   padding-left: 1.5rem;
  //   padding-right: 1.5rem;
  // }
}

.login-form {
  .custom-select,
  .form-control {
    padding-top: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
    padding-bottom: clamp(0.5rem, -0.319rem + 1.0159vw, 0.9rem);
    padding-left: 1.563rem;
    padding-right: 1.563rem;
  }

  .form-group,
  .login-form__section {
    position: relative;
  }

  .form-group label,
  .login-form__section label {
    position: absolute;
    top: 10px;
    left: 25px;
    font-size: clamp(0.75rem, 0.494rem + 0.3175vw, 0.875rem);
    color: rgba($main-color, 0.7);

    @include media-breakpoint-up('xl') {
      top: 15px;
    }
  }

  .input-password-toggle-container {
    position: static;
  }
}

.snmp-form {
  .custom-control-label {
    color: rgba($main-color, 0.7) !important;
  }

  .snmp-label .col-form-label {
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  }
}

.custom-select,
.form-control {
  &:active {
    border: 1px solid $primary !important;
  }
  &:hover {
    border-color: $input-hover !important;
  }
  &:focus {
    color: theme-color('dark');
    background-color: $form-color;
    box-shadow:
      inset 0 0 0 3px gray('100'),
      inset 0 0 0 5px $main-color !important;
  }
  &:disabled {
    background-color: $btn-background;
    border-color: $gray-border !important;
  }
  &::placeholder {
    color: gray('600');
  }
  &.is-invalid,
  &:invalid {
    border: 1px solid theme-color('danger') !important;
  }
}

.custom-select,
.custom-control-label,
.form-control {
  color: $main-color !important;
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  align-content: center;
}

// Inverted form colors
.form-background {
  .custom-select,
  .form-control {
    &:disabled {
      background-color: rgba($main-color, 0.2);
      color: gray('600');
    }
  }
}

.invalid-feedback {
  font-size: $form-label-font-size;
  line-height: $form-line-height;
  color: $error-color;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after,
.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: $main-color;
  border-color: $main-color;
  cursor: pointer;
}

.custom-control {
  display: flex;
  .custom-control-input[disabled='disabled'] {
    & + .custom-control-label {
      // Disabled label for checkbox, radio,
      // switch bootstrap form components
      color: gray('600') !important;
    }
  }
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 2px $purple;
}

.custom-control-label::after {
  cursor: pointer;
}

.b-form-tag-remove {
  // X button to remove tag
  font-weight: normal;
}

.b-form-tags-button {
  // Add button inside input field
  white-space: nowrap;
  margin-right: -$spacer;
  &.btn-link-primary {
    color: theme-color('primary');
    fill: currentColor;
  }
}

// Form validation icon
.form-control.is-invalid,
.form-control.is-valid {
  background-position: right 1rem bottom 50%;
}

// Form validation icon with datepicker or password toggle icon
.form-control-with-button {
  &.is-invalid,
  &.is-valid {
    background-position: right 3rem bottom 50%;
  }
}

.login-form-border {
  padding: clamp(2.125rem, 0.0774rem + 2.5397vw, 3.125rem);
  border: 1px solid $login-border;
  border-radius: 20px;
  background-color: $form-color;

  .login-form-header {
    margin-bottom: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
    align-items: stretch;
  }
}

.custom-select {
  background-image: url('../src/assets/images/chevrondown.svg');
  background-size: 10px 10px;
  background-position: right 1rem center;

    @include media-breakpoint-only(xs) {
        background-position: right 0.3rem center;
    }
}

input:autofill {
  background: $form-color;
}

.custom-select option {
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  color: $main-color;
  background-color: $form-color;
}

.ldap-section {
  .col-form-label {
    margin-bottom: 1rem;
    padding-bottom: 0;
    font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
    color: $main-color;

    @include media-breakpoint-down(sm) {
      margin-bottom: 0.2rem;
    }
  }

  .custom-control-label {
    color: rgba($main-color, 0.7) !important;
  }

  .form-text {
    margin-bottom: 1rem;
    font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.2rem;
    }
  }

  .input-group-text {
    padding-top: 0;
    padding-bottom: 0;
    color: rgba($main-color, 0.7);
    border-radius: 15px 0 0 15px;
    border: 1px solid black;
  }

  .ldap-input-group {
    border-radius: 0 15px 15px 0;
  }

  label,
  .btn-link {
    color: rgba($main-color, 0.7);
  }
}

.profile-form {
  .col-form-label {
    color: $main-color;
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  }
}

.power-policy-group {
  .custom-control {
    margin-bottom: 0.625rem;
  }
}

.form-firmware,
.form-vm {
  display: flex;
  flex-direction: column;

  label,
  .col-form-label {
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
    color: $main-color;
  }
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: $main-color;
  border-radius: 50%;
}
