.modal-content {
  border: none;
  border-radius: 20px;
}

.modal-header {
  padding: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem)
    clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem) 0
    clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  border-bottom: none;

  .close {
    font-weight: normal;
    color: theme-color('dark');
    opacity: 1;
  }
  .modal-title {
    font-size: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
    font-weight: 500;
    line-height: 1.3;

    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }
}

.modal-body {
  margin-top: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
  padding: 0 clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);

  p {
    margin-bottom: 0.75rem;
  }

  form {
    margin-top: clamp(0.875rem, 0.1071rem + 0.9524vw, 1.25rem);
  }

  label {
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
    color: $main-color;
  }

  .form-control,
  .custom-select {
    padding: clamp(0.625rem, -0.0159rem + 0.7949vw, 0.938rem)
      clamp(1rem, -0.1528rem + 1.4298vw, 1.563rem);
    background-color: $white;
  }

  .form-control:disabled,
  .custom-select:disabled,
  .form-control[readonly] {
    background-color: $gray-background;
  }

  .input-action-btn {
    top: 10px;

    @include media-breakpoint-down('xl') {
      top: 2px;
    }
  }

  .form-user {
    .custom-radio {
      label {
        margin-top: 0;
      }
    }

    label {
      margin-top: 15px;
    }
  }

  .card-header {
    padding: 0 0.7rem;
    background-color: $white;
    border-bottom: none;
  }

  .list-group {
    border-radius: 20px;
  }

  .card-body {
    padding: 1rem 1rem;

    .btn-primary {
      padding: 0.5rem 1rem;
    }
  }

  .tab-content {
    border: 1px solid #c8c9ca;
    border-radius: 20px;
  }
  .card-header .nav-tabs .nav-link {
    margin-bottom: 0 !important;
    padding: clamp(0.625rem, 0.1131rem + 0.6349vw, 0.875rem)
      clamp(1rem, -0.0238rem + 1.2698vw, 1.5rem);
    color: $main-color;
    border: 1px solid $gray-border;
    border-radius: 15px;
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);

    &:hover {
      background-color: $btn-background;
    }

    @include media-breakpoint-down('xl') {
      padding: 0.5rem 0.5rem;
    }
  }
}

.modal-footer {
  flex-wrap: nowrap;
  padding: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  border-top: none;

  .btn-secondary {
    margin-bottom: 0 !important;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 0;
  }

  .btn-secondary {
    position: relative;
    left: -30px;
    order: 2;
    width: 100%;
    margin-right: -30px;
    padding: clamp(1rem, -0.0238rem + 1.2698vw, 1.5rem)
      clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);

    @include media-breakpoint-down('xl') {
      width: 90%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      left: 0;
      margin-right: 0;
      white-space: normal;
    }
  }

  .btn-primary,
  .btn-danger {
    order: 1;
    width: 100%;
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
    white-space: nowrap;

    @include media-breakpoint-down(xs) {
      white-space: normal;
    }
  }
}

.modal-footer > * {
  margin: 0;
}
