.table-pagination-select {
  display: flex;
  flex-direction: row-reverse;
  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
  select {
    min-width: clamp(8.375rem, -0.071rem + 10.476vw, 12.5rem);
    margin-top: 0.625rem;
    padding: clamp(0.625rem, -0.015rem + 0.794vw, 0.938rem)
      clamp(1rem, -0.024rem + 1.27vw, 1.5rem);
    border-radius: 15px;
  }
  label {
    margin-left: $spacer;
    line-height: $spacer * 2;
    font-size: clamp(0.75rem, -0.0179rem + 0.9524vw, 1.125rem);
    color: rgba($main-color, 0.7);
    text-wrap: nowrap;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }
  }
}

.b-pagination {
  margin: 0;
  margin-top: 10px;
  @include media-breakpoint-up(sm) {
    justify-content: flex-end;
  }

  .page-link {
    padding: clamp(0.625rem, -0.015rem + 0.794vw, 0.938rem)
      clamp(1rem, -0.024rem + 1.27vw, 1.5rem);
    font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);
  }

  .page-item:first-child {
    .page-link {
      border-radius: 15px 0 0 15px;
    }
  }

  .page-item:last-child {
    .page-link {
      border-radius: 0 15px 15px 0;
    }
  }

  .page-item.active button {
    color: rgba($main-color, 0.7);
    background-color: $gray-light;
    border-color: $border-color;
  }
}
