.table {
  position: relative;
  z-index: $zindex-dropdown;
  font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);

  td {
    padding: clamp(1.25rem, 0.2262rem + 1.2698vw, 1.75rem)
      clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    vertical-align: middle;

    @include media-breakpoint-down('xl') {
      padding: 0.75rem;
    }

    // Table action buttons
    .btn-link {
      width: 40px;
      height: 40px;
      padding: 5px !important;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(0.875rem, 0.3631rem + 0.6349vw, 1.125rem);

      @include media-breakpoint-down('xl') {
        width: 35px;
        height: 35px;
      }

      svg {
        @include media-breakpoint-down('xl') {
          width: 20px;
          height: 20px;
        }
        @include media-breakpoint-down(md) {
          width: 15px !important;
          height: 15px !important;
        }
      }
    }
  }

  // thead-light added for specificity
  .thead-light th {
    background-color: $gray-light;
    padding: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid $gray-border;
    &:first-of-type {
      border-left: none;
    }
    &:last-of-type {
      border-right: none;
    }
    font-weight: 400;
    color: rgba($main-color, 0.7);
    &:focus {
      outline: none;
    }

    @include media-breakpoint-down('xl') {
      padding: 0.75rem;
    }
  }

  .status-icon svg {
    width: 1rem;
    height: auto;
  }

  .b-table-has-details {
    td {
      border-bottom: none;
    }
    .table-row-expand svg {
      transform: rotate(180deg);
    }
  }

  .b-table-details {
    background-color: $gray-light;
    td {
      padding-left: clamp(5rem, -0.119rem + 6.349vw, 7.5rem);
    }
    dl {
      margin: 0;
    }
    dt {
      float: left;
      clear: left;
      margin-right: $spacer / 2;
    }
  }

  .table-row-expand {
    width: 50px;
    padding: 0;
    .btn {
      justify-content: center;
      padding: 0;
      width: 50px;

      @include media-breakpoint-down('xl') {
        width: 30px;
      }
    }
    svg {
      fill: theme-color('dark');
    }
  }
  .b-table-sort-icon-left {
    background-position: left calc(1.5rem / 2) center !important;
    padding-left: calc(1.2rem + 0.65em) !important;
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px theme-color('primary') !important;
    }
    &:hover {
      background-color: theme-color-dark('light');
    }
  }
}

.b-table-sticky-header td {
  border-top: none;
}

// Table stacked style for small screen only
@include media-breakpoint-down(xs) {
  .b-table-stacked-sm {
    border: 1px solid gray('300');

    tr {
      &:not(:first-child) > td[aria-colindex='1'] {
        border-top: 1px solid gray('300');
        padding-top: 0.625rem;
      }

      &:not(.b-table-empty-row) {
        position: relative; // Restrict background color to get zebra striping for the row

        &::before,
        &::after {
          position: absolute;
          top: 0;
          height: 100%;
          z-index: -1;
        }

        &:before {
          content: '';
          background-color: gray('200');
          width: 40%;
          border-right: 1px solid gray('300');
        }

        &:after {
          content: '';
          right: 0;
          width: 60%;
        }

        &:nth-child(even)::after {
          background-color: gray('100'); // Zebra striping for the row
        }
      }

      td {
        border: 0;
        padding: 0.75rem;
        text-align: left !important;

        &:last-of-type {
          border-right: 0;
        }
      }
    }
  }

  .table.b-table.b-table-stacked-sm > tbody > tr > [data-label] {
    &::before {
      text-align: left;
      padding-left: $spacer / 2;
    }

    > div {
      padding-left: 1rem;
    }
  }

  .table.b-table.b-table-stacked-sm > tbody > tr > :first-child {
    border-top-width: 1px;
  }
}

.table-container {
  position: relative;
  padding-right: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  padding-left: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  padding-bottom: clamp(1.625rem, -0.1667rem + 2.2222vw, 2.5rem);
  border: 1px solid $gray-border;
  border-radius: 20px;

  @include media-breakpoint-down('xl') {
    padding-bottom: 0.75rem;
  }

  @include media-breakpoint-down(md) {
    padding: 10px;
  }

  * {
    @include media-breakpoint-down(md) {
      font-size: 12px !important;
    }
    @include media-breakpoint-down(sm) {
      font-size: 10px !important;
    }
  }
}

.b-table-sticky-header {
  max-height: calc(100vh - 420px);

  @include media-breakpoint-down('xl') {
    max-height: calc(100vh - 300px);
  }
}

.b-table-sticky-header::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba($white, 0.2);
}

.b-table-sticky-header::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba($main-color, 0.5);
}

.event-table,
.dump-table {
  .table td,
  .table th {
    @include media-breakpoint-down('xl') {
      padding: 0.75rem 0.5rem;
    }
  }
  .btn-secondary {
    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 10px;
      padding: 8px 10px;
    }
  }
}

.event-table .table td.wide-for-mobile,
.event-table .table th.wide-for-mobile {
  @include media-breakpoint-down(md) {
    word-break: normal !important;
    word-wrap: normal !important;
  }
}

.table-card-information {
  .table-card-column {
    dl {
      margin-bottom: 20px;
    }
  }
}
