@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~@/assets/fonts/Montserrat-Medium.woff');
  font-weight: 500;
}
