// Override Bootstrap Variables - node_modules/Bootstrap/scss/_variables.scss
$enable-rounded: false;
$enable-validation-icons: false;
$transition-base: all $duration--moderate-02 $standard-easing--productive;
$transition-fade: opacity $duration--moderate-01 $standard-easing--productive;
$transition-collapse: height $duration--slow-01 $standard-easing--expressive;

// OpenBMC Custom Variables
$responsive-layout-bp: lg;
$header-height: 90px;
$navigation-width: clamp(15rem, -0.357rem + 19.048vw, 22.5rem);
$form-label-font-size: clamp(0.75rem, 0.494rem + 0.3175vw, 0.875rem);
$form-line-height: 1rem;
$box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
$focus-transition:
  color 0.15s ease-in-out,
  background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;

$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 1.125rem;
$body-color: $main-color;
$body-bg: $gray-light;

$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 768px,
  lg: 992px,
  xl: 1290px,
  xxl: 1400px,
);
